@import 'settings';
@import 'mixins';

.c-header {
  display: flex;
  flex-basis: 100%;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  height: 100px;
  background-color: $base;
  color: $baseT;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  z-index: 1000;
  top: 0;
  position: sticky;

  @include md() {
    height: 80px
  }

  &__nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-evenly;
    gap: 12px;
    @include md(){
      justify-content: flex-start;
    }
    &__text{
      font-size: 32px;
      &__main{
        color: #000;
        font-weight: 500;
        font-size: 36px;
        @include xl(){
          font-size: 2vw;
        }
      }
    }
  }

  &__section{
    display: flex;
    font-size: 24px;
    font-weight: 500;
    gap: 32px;
    flex-grow: 1;
    justify-content: space-evenly;
    @include xl(){
      font-size: 1.8vw;
    }

    a:nth-child(1){
      color: #D61A1A;
    }
    a:nth-child(2){
      color: #D61A1A;
      display: none;
    }
    button{
      all: unset;
      color: #F7E523;
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;
      &:active{
        text-decoration: underline;
      }
    }
    @include md(){
      justify-content: start;
      flex-grow: 0;
    }
    @include xs_plus(){
      a:nth-child(2){
        color: #D61A1A;
        display: block;
      }
      a:nth-child(1){
        color: #234FA2;
      }
    }
  }

  &__toggle {
    display: none;
    margin: 0;
    border: 0;
    outline: 0;
    background: transparent;
    color: $baseT;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 0;
    height: 19px;
    @include md(){
      display: block;
    }
  }

  &__toolbar {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 0 17px;
    position: relative;
  }
}
.button-login{
  position: absolute !important;
  bottom: -15px;
  right: 0;
}

a{
  cursor: pointer;
  text-decoration: none;
  &:active{
    text-decoration: underline;
  }
}

