.historial-container {
  padding: 20px;
  margin: 0 auto;
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  /* Estilos para el desplazamiento */
  scrollbar-width: thin; /* Ancho del scroll para navegadores compatibles */
  scrollbar-color: #f0f0f0; /* Colores para la barra de desplazamiento */

  .block-svg{
    margin-top: 8px;
    height: 210px;
    width: 210px;
  }
  @media(min-width: 458px){
    .block-svg{
      height: 350px;
      width: 350px;
    }
  }
  @media(min-width: 640px){
    .block-svg{
      height: 500px;
      width: 500px;
    }
  }
  @media (min-width: 1024px) {
    max-width: 800px;
  }

  h2 {
    text-align: center;
    color: #234fa2;
    margin-bottom: 20px;
  }

  .error-message,
  .no-history{
    text-align: center;
    font-size: 18px;
    color: #d61a1a;
    margin-top: 20px;
  }

.loading-spinner{
  display: flex;
  justify-content: center; /* Centrado horizontal */
  align-items: center;     /* Centrado vertical */
}

  .history-list {
    list-style: none;
    padding: 0;

    .history-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ddd;
      border-radius: 8px;
      background-color: #f9f9f9;

      .route-info {
        flex: 1;
        margin-right: 10px;

        p {
          margin: 5px 0;
        }
      }

      .route-image {
        img {
          max-width: 150px;
          max-height: 100px;
          border-radius: 4px;
        }
      }
    }
  }
}
