<div class="c-home">
  <div class="content-busqueda">
    <form class="form-busqueda" (ngSubmit)="searchRoute()">
      <div class="input-group">
        <label for="origin">Origen</label>
        <input type="text" id="origin" #originInput [(ngModel)]="origin" name="origin" required />
      </div>
      <div class="input-group">
        <label for="destination">Destino</label>
        <input type="text" id="destination" #destinationInput [(ngModel)]="destination" name="destination" required />
      </div>
      <button type="submit">Buscar Ruta</button>
    </form>
    <!-- Historial Temporal -->
    <app-search-container [searchHistory]="searchHistory"></app-search-container>
  </div>
  <div class="map-container">
    <app-maps [originCoordinates]="originCoordinates" [destinationCoordinates]="destinationCoordinates" (routeGenerated)="onRouteGenerated($event)"></app-maps>
  </div>
</div>
