@import 'mixins';
.c-home{
  position: relative;
  height: calc(100dvh - 50px);
  width: 100%;
  .map-container {
    flex-grow: 1;
    height: 100%;
  }
  .content-busqueda{
    display: none;
  }
  @include md(){
    height: 100%;
    display: flex;
    .content-busqueda{
      display: block;
      width: 300px;
      background-color: $baseT;
      z-index: 100;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .form-busqueda{
      padding: 20px;
      box-shadow: 0 1px 2px rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
      border-top-right-radius: 12px;
      border-bottom-right-radius: 12px;
    }
  }

  .content-busqueda-movil{
    gap: 4px;
    display: grid;
    margin-top: 16px;
    margin-left: 32px;
    margin-right: 32px;
    position: absolute;
    width: 75%;
    z-index: 20;
    img{
      margin-left: -7px;
    }
    @include md(){
      display: none;
    }
  }

  .search-history_section{
    width: 100%;
    display: flex;
    align-items: center;
    .route {
      width: 100%;
      min-width: 0;
      font-size: 0.8rem;
      color: #616572;
      padding: 8px;
      border-bottom-left-radius: 8px;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }
}

.input-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: $base2;
  font-size: 14px;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: #c2cbe5;
  color: black;
  &:focus{
    border: 1px solid #3798c2 !important;
    outline: none;
  }
  @include md(){
    background-color: transparent;
    font-weight: 300;
    color: #616572;
  }
}

button {
  padding: 10px 15px;
  background-color: $base2;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

button:hover {
  background-color: $border-color;
}

.input-with-icon {
  position: relative;
  display: inline-block;
  width: 100%;
}

.input-with-icon input {
  width: 100%;
  padding-left: 40px; /* Espacio para el ícono */
  height: 40px;
  box-sizing: border-box;
}

.input-with-icon .input-icon {
  position: absolute;
  top: 50%;
  left: 10px; /* Alineado interno del ícono */
  transform: translateY(-50%);
  pointer-events: none; /* Evita que el ícono interfiera con el foco */
  width: 10px; /* Tamaño fijo */
  height: 30px; /* Tamaño fijo */
  flex-shrink: 0; /* Evita que Flexbox los reduzca */
}

.login-icon{
  position: absolute;
  width: 25px;
  height: 25px;
  right: 15px;
  top: 6px;
  cursor: pointer;
}
