// Fonts
$font-regular: 'poppins-regular', sans-serif; // 400
$font-medium: 'poppins-medium', sans-serif; // 500
$font-semibold: 'poppins-semibold', sans-serif; // 600

// Base
$base: #396AFF;
$base2: #0A8DC4;
$base3: #62BAB8;
$baseT: #eaecf1;
$border-color: #8bb53c;
$font: #d2daf5;

// Colors
$black: #545454;
$white: #fff;
$success: #429c21;
$warning: #f8b80e;
$danger: #d9534f;
$light: #f7f7f7;

//Screem
$screen-xs: 0;
$screen-xs-mini: 376px;
$screen-xs-plus: 450px;
$screen-sm: 640px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1536px;
$screen-xxl: 2000px;
