.container-main-chart{
  overflow-y: auto;
  overflow-x: hidden;
  height: 100dvh;
  padding-bottom: 50px;
  @media (min-width: 768px) {
    padding-bottom: 0px;
    margin-left: 8px;
    padding-right: 8px;
  }
}
.group-chart{
  display: block;
  column-gap: 8px;
  margin-bottom: 8px;
  max-width: 99%;
  @media (min-width: 1024px) {
    display: flex;
  }
}
.pai{
  max-width: 100%;
  @media (min-width: 1024px) {
    max-width: 450px;
  }
}
.chart-container {
  height: 542px;
  width: 100%;
  background: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  overflow: hidden;


  .chart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .chart-title {
      display: flex;
      align-items: center;

      h5 {
        font-size: 1.25rem;
        font-weight: bold;
        color: #1c64f2;
      }

      .info-icon {
        margin-left: 0.5rem;
        font-size: 0.875rem;
        color: #6b7280;
        cursor: pointer;
      }
    }

    .text-muted {
      font-size: 0.875rem;
      color: #6b7280;
    }

    .chart-percentage {
      display: flex;
      align-items: center;
      font-size: 0.875rem;
      font-weight: bold;
      color: #10b981;

      .icon {
        width: 10px;
        height: 14px;
        margin-left: 0.25rem;
      }
    }

    .date-range-button {
      background: none;
      border: none;
      color: #1c64f2;
      font-weight: medium;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .chart-body {
    padding: 1rem 0;

    .chart {
      height: 300px;
    }
    .chartPie{
      min-height: 420px !important;
    }

  }
}

.chartLine{
  min-height: 226px !important;
}
.chartBar{
  min-height: 452px !important;
}

.dropdown {
  position: relative;
  display: inline-block;

  .dropdown-button {
    font-size: 0.875rem;
    font-weight: 500;
    color: #6b7280;
    background: none;
    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    transition: color 0.3s;

    &:hover {
      color: #1c64f2;
    }

    .dropdown-icon {
      width: 10px;
      height: 6px;
      margin-left: 0.5rem;
    }
  }

  .dropdown-menu {
    width: 80px;
    position: absolute;
    bottom: 100%;
    left: 0;
    background: #ffffff;
    border: 1px solid #e5e7eb;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
    display: block;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li{
        display: block;
        cursor: pointer;
        padding: 0.5rem 1rem;
        text-decoration: none;
        color: #6b7280;
        transition: background 0.3s, color 0.3s;

        &:hover {
          background: #f3f4f6;
          color: #1c64f2;
        }
      }
    }

    &.hidden {
      display: none;
    }
  }
}

.chart-content{
  max-width: 99%;
}
.line{
  max-width: 99%;
  height: 320px !important;
}
.loading-spinner{
  display: flex;
  justify-content: center; /* Centrado horizontal */
  align-items: center;     /* Centrado vertical */
  height: calc(100% - 32px);
}

